<div class="placesHeader">
  <div class="placesHeader__title">
    <p>Over 1,000,000 gues reviews for places to stay in Paris.</p>
  </div>
  <div class="placesHeader__numbers">
    <p>300+ places to stay</p>
  </div>


</div>

<section>
  <div class="places">
    <div class="places__images">
      <img src="assets/airbnb.png" alt="">
    </div>
    <div class="places__card">
      <div class="places__card-header">
        <div class="places__card-header__info">
          <p class="places__card-header__flag">PLUS</p>
          <p class="places__card-header__title">Entire guesthouse</p>
        </div>
        <div class="places__card-header__stars">
          <p>x4.73 (202)</p>
        </div>
      </div>
      <div class="places__card-content">
        <div class="places__card-content__title">
          <p>Charmant petit studio parisien au coeur du Marais...</p>
        </div>
        <div class="places__card-content__info">
          <p>2 guests - Studio - 1 bed - bath</p>
          <p>Wifi - Kitchen - Heating</p>
        </div>
      </div>
      <div class="places__card-footer">
        <div>
          R$365 / night
        </div>
      </div>
    </div>
  </div>
  <div class="places">
    <div class="places__images">
      <img src="assets/airbnb.png" alt="">
    </div>
    <div class="places__card">
      <div class="places__card-header">
        <div class="places__card-header__info">
          <p class="places__card-header__flag">PLUS</p>
          <p class="places__card-header__title">Entire guesthouse</p>
        </div>
        <div class="places__card-header__stars">
          <p>x4.73 (202)</p>
        </div>
      </div>
      <div class="places__card-content">
        <div class="places__card-content__title">
          <p>Charmant petit studio parisien au coeur du Marais...</p>
        </div>
        <div class="places__card-content__info">
          <p>2 guests - Studio - 1 bed - bath</p>
          <p>Wifi - Kitchen - Heating</p>
        </div>
      </div>
      <div class="places__card-footer">
        <div>
          R$365 / night
        </div>
      </div>
    </div>
  </div>
</section>
